absl-py==1.3.0
adal==1.2.7
altair==4.2.0
amply==0.1.5
anyio==3.6.2
appdirs==1.4.4
applicationinsights==0.11.10
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
astroid==2.12.13
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.1.0
autopep8==2.0.0
autopy==4.0.0
azure-cognitiveservices-vision-face==0.6.0
azure-common==1.1.28
azure-core==1.26.1
azure-cosmosdb-nspkg==2.0.2
azure-cosmosdb-table==1.0.6
azure-functions==1.12.0
azure-graphrbac==0.61.1
azure-identity==1.7.0
azure-mgmt-authorization==3.0.0
azure-mgmt-containerregistry==10.0.0
azure-mgmt-core==1.3.2
azure-mgmt-keyvault==10.1.0
azure-mgmt-resource==21.2.1
azure-mgmt-storage==20.1.0
azure-nspkg==3.0.2
azureml-automl-core==1.48.0
azureml-core==1.48.0
azureml-dataprep==4.8.2
azureml-dataprep-native==38.0.0
azureml-dataprep-rslex==2.15.1
azureml-dataset-runtime==1.48.0
azureml-pipeline==1.48.0
azureml-pipeline-core==1.48.0
azureml-pipeline-steps==1.48.0
azureml-sdk==1.48.0
azureml-telemetry==1.48.0
azureml-train-automl-client==1.48.0
azureml-train-core==1.48.0
azureml-train-restclients-hyperdrive==1.48.0
backcall==0.2.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
BareNecessities==0.2.8
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
bs4==0.0.1
CacheControl==0.12.11
cached-property==1.5.2
cachetools==4.2.4
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
cloudbiolinux==0.1
cloudpickle==2.2.0
cmake==3.25.0
colorama==0.4.6
commonmark==0.9.1
comtypes==1.1.14
ConfigArgParse==1.5.3
configparser==5.3.0
connection-pool==0.0.3
contextlib2==21.6.0
contrib==0.3.0
convertdate==2.4.0
crayons==0.4.0
crypto==1.4.1
cryptography==38.0.4
cs==3.0.0
cv==1.0.0
Cyber-RSA==1.0.0
cycler==0.11.0
dates==0.0.1
datrie==0.8.2
debugpy==1.6.4
decorator==5.1.1
deepface==0.0.75
defusedxml==0.7.1
Deprecated==1.2.13
detect==2020.12.3
dill==0.3.6
distlib==0.3.6
distro==1.8.0
dj-database-url==1.0.0
Django==3.2.16
django-allauth==0.51.0
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-filter==22.1
django-heroku==0.3.1
django-markdown-deux==1.0.5
django-pagedown==2.2.1
django-pandas==0.6.6
django-rest-auth==0.9.5
django-rest-knox==4.2.0
djangorestframework==3.14.0
dlib @ file:///C:/Users/ASUS/Desktop/face_recog_dlib_file-master/dlib-19.19.0-cp37-cp37m-win_amd64.whl
dnspython==2.2.1
docker==6.0.1
docopt==0.6.2
docutils==0.19
dotnetcore2==3.1.23
dpath==2.1.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.0.4
fabric==2.7.1
face-recognition==1.3.0
face-recognition-models==0.3.0
fastjsonschema==2.16.2
filelock==3.8.2
fire==0.4.0
firebase==3.0.1
firebase-admin==6.0.1
FirebaseData==0.6.3
firebaseHelper==0.0.1
flake8==5.0.4
flash==1.0.3
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-JWT-Extended==4.4.4
Flask-Mail==0.9.1
Flask-MySQLdb==1.0.1
Flask-WTF==1.0.1
flatbuffers==1.12
fonttools==4.38.0
frame==0.3.1
fusepy==3.0.1
future==0.18.2
gast==0.4.0
gcloud==0.18.3
gdown==4.6.0
gevent==22.10.2
gitdb==4.0.10
GitPython==3.1.29
google-api-core==2.11.0
google-api-python-client==2.68.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-firestore==2.7.2
google-cloud-storage==2.6.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
googleapis-common-protos==1.57.0
graphviz==0.8.4
greenlet==2.0.1
grpcio==1.51.1
grpcio-status==1.51.1
gTTS==2.3.0
guidata==2.3.1
guiqwt==4.3.1
gunicorn==20.1.0
h11==0.14.0
h5py==3.7.0
hijri-converter==2.2.4
holidays==0.17.2
httplib2==0.21.0
humanfriendly==10.0
idna==3.4
imageio==2.22.4
importlib-metadata==4.13.0
importlib-resources==5.10.0
imutils==0.5.4
iniconfig==1.1.1
invoke==1.7.3
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
isodate==0.6.1
isort==5.10.1
itsdangerous==2.1.2
jdcal==1.4.1
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonify==0.5
jsonpickle==3.0.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.23.3
jupyter_client==7.4.8
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
jwcrypto==1.4.2
jws==0.1.3
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
knack==0.10.1
korean-lunar-calendar==0.3.1
lazy-object-proxy==1.8.0
libclang==14.0.6
lml==0.1.0
lxml==4.9.1
Mail==2.1.0
Markdown==3.4.1
markdown2==2.4.6
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.7.0
mediapipe==0.9.0
mistune==2.0.4
MouseInfo==0.1.3
msal==1.20.0
msal-extensions==1.0.0
msgpack==1.0.4
msrest==0.7.1
msrestazure==0.6.4
mtcnn==0.1.1
multipart==0.2.4
mxnet==1.7.0.post2
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==8.0.31
mysqlclient==2.1.0
Naked==0.1.32
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.6
nbformat==5.7.0
ndg-httpsclient==0.5.1
nest-asyncio==1.5.6
networkx==2.6.3
notebook==6.5.2
notebook_shim==0.2.2
numexpr==2.8.4
numpy==1.21.6
oauth2client==4.1.3
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0
packaging==20.9
pandas==1.3.5
pandas-datareader==0.10.0
pandastable==0.13.0
pandocfilters==1.5.0
paramiko==2.12.0
parso==0.8.3
passlib==1.7.4
pathlib2==2.3.7.post1
pathspec==0.10.2
pdfkit==1.0.0
pep8==1.7.1
pickleshare==0.7.5
Pillow==9.3.0
pip-review==1.3.0
pipreqs==0.4.11
pkginfo==1.9.2
pkgutil_resolve_name==1.3.10
plac==1.3.5
platformdirs==2.5.4
pluggy==1.0.0
portalocker==2.6.0
prometheus-client==0.15.0
prompt-toolkit==3.0.33
proto-plus==1.22.1
protobuf==3.20.0
psutil==5.9.4
psycopg2==2.9.5
publickey==0.2
PuLP==2.7.0
pusher==3.3.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.16.0
pydantic==1.10.2
pydeck==0.8.0
pyexcel==0.7.0
pyexcel-io==0.6.6
pyflakes==3.0.1
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.13.0
PyJWT==2.6.0
pylint==2.15.8
PyMeeus==0.5.11
pymongo==4.3.3
Pympler==1.0.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
PyNaCl==1.5.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
pyqt-tools==1.0.0
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQt5-stubs==5.15.6.0
pyreadline==2.1
Pyrebase4==4.6.0
pyrebase5==5.0.1
PyRect==0.2.0
pyrsistent==0.19.2
PyScreeze==0.1.28
PySocks==1.7.1
pytest==7.2.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-google-places==1.4.2
python-http-client==3.3.7
python-jwt==4.0.0
python3-openid==3.2.0
PythonQwt==0.10.2
pyttsx==1.1
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pywhatkit==5.4
pywin32==305
pywinpty==2.0.9
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.0
QtPy==2.3.0
ratelimiter==1.2.0.post0
redis==4.4.0
repoze.lru==0.7
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
reretry==0.11.1
retina-face==0.0.12
rich==12.6.0
Routes==2.5.1
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
scripts==2.0
SecretStorage==3.3.3
secure-smtplib==0.1.1
selenium==4.7.2
self==2020.12.3
semver==2.13.0
Send2Trash==1.8.0
sendgrid==6.9.7
sequential==1.0.0
shellescape==3.8.1
six==1.16.0
sklearn==0.0
smart-open==6.2.0
smmap==5.0.0
snakemake==7.18.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SpeechRecognition==3.9.0
speedtest==0.0.1
spotipy==2.21.0
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a29
sqlmodel==0.0.8
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
stopit==1.1.2
streamlit==1.15.2
stua==0.2
style==1.1.0
table==0.0.4
tablemodel==0.0.1
tabulate==0.9.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-hub==0.12.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
tensorflowjs==3.19.0
termcolor==2.1.1
terminado==0.17.1
testpath==0.6.0
texttable==1.6.7
threadpoolctl==3.1.0
throttler==1.2.2
tifffile==2021.11.2
tinycss2==1.2.1
tmdbsimple==2.9.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
toposort==1.7
torch==1.13.1
tornado==6.2
tqdm==4.64.1
traitlets==5.6.0
trio==0.22.0
trio-websocket==0.9.2
twilio==7.15.4
typed-ast==1.5.4
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
update==0.0.1
updates==0.1.7.1
uritemplate==4.1.1
urllib3==1.26.13
validators==0.20.0
virtualenv==20.17.0
vonage==3.3.0
watchdog==2.2.0
wcwidth==0.2.5
webdriver-manager==3.8.5
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
whitenoise==6.2.0
widgetsnbextension==4.0.3
wikipedia==1.4.0
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.0.1
xlrd==2.0.1
XlsxWriter==3.0.3
yapf==0.32.0
yarg==0.1.9
youtube-dl==2021.12.17
yte==1.5.1
zipp==3.11.0
zope.event==4.5.0
zope.interface==5.5.2
