<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
  
</head>
<body>
  <!-- <h1>Pusher Test</h1>
  <p>
    Try publishing an event to channel <code>my-channel</code>
    with event name <code>my-event</code>.
  </p> -->
  <div><h1 id="notification">cdcdc</h1></div>
  <form method="post" action="">
      
  </form>
  <script>

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

    var pusher = new Pusher('4da6311b184ace45d1dc', {
      cluster: 'ap2'
    });

    var channel = pusher.subscribe('my-channel');
    channel.bind('my-event', function(data) {
      window.location.reload();
      document.getElementById('notification').textContent = JSON.stringify(data['message']);

    });
  </script>
</body>
</html>